/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import "flatpickr/dist/flatpickr.min.css";


.timer{
display: flex;
justify-content: center;
gap: 36px;
}
.field{
display: flex;
flex-direction: column;
}
.value{
font-size: 72px;
}
.label{
font-size: 34px;
}
#datetime-picker{
width: 200px;
height: 30px;
}
.container button{
padding: 7px 18px;
font-size: 16px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 300px;
}
input{
padding: 8px 12px;
font-size: 20px;
}